.game-window {
    background: gray;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 30px;
            height: 30px;
            border: 2px solid black;
            border-top-color: white;
            border-left-color: white;

            background-color: #bababa;
        }

        button:hover {
            cursor: pointer;
        }
    }
}